.button_border_animation {
    position: relative;
    overflow: hidden;
  }
  
  .button_border_animation:before,
  .button_border_animation:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 2px solid white;
    transition: width 0.5s, height 0.5s; 
  }
  
  .button_border_animation:before {
    left: 0;
    top: 0;
    border-top: 0;
    border-right: 0;
  }
  
  .button_border_animation:after {
    right: 0;
    bottom: 0;
    border-bottom: 0;
    border-left: 0;
  }
  
  .button_border_animation:hover:before {
    width: 200px;
    height: 36px;
  }
  
  .button_border_animation:hover:after {
    width: 200px;
    height: 36px;
    transition-delay: 0.1s; 
    
  }





  .neon-button-clear {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .neon-button-clear::before,
  .neon-button-clear::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: transparent;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .neon-button-clear::before {
    filter: blur(5px);
  }
  
  .neon-button-clear::after {
    filter: blur(10px);
  }
  
  .neon-button-clear:hover::before,
  .neon-button-clear:hover::after {
    opacity: 1;
  }
  
  @keyframes neon-glow-clear {
    0% {
      box-shadow: 0 0 5px #ff3333, 0 0 10px #ff3333; 
    }
    50% {
      box-shadow: 0 0 10px #ff3333, 0 0 20px #ff3333; 
    }
    100% {
      box-shadow: 0 0 5px #ff3333, 0 0 10px #ff3333; 
    }
  }
  
  .neon-button-clear:hover {
    animation: neon-glow-clear 1s infinite;
  }
  
  .neon-button-submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
  }

  .neon-button-submit::before,
  .neon-button-submit::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: transparent;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .neon-button-submit::before {
    filter: blur(5px);
  }
  
  .neon-button-submit::after {
    filter: blur(10px);
  }
  
  .neon-button-submit:hover::before,
  .neon-button-submit:hover::after {
    opacity: 1;
  }
  
  @keyframes neon-glow-submit {
    0% {
      box-shadow: 0 0 5px #00cc66, 0 0 10px #00cc66; 
    }
    50% {
      box-shadow: 0 0 10px #00cc66, 0 0 20px #00cc66; 
    }
    100% {
  box-shadow: 0 0 5px #00cc66, 0 0 10px #00cc66; 
  }
  }
  
  .neon-button-submit:hover {
  animation: neon-glow-submit 1s infinite;
  }