.loading {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color:white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }